.yt-video {
				width:320px; 
				height:180px;
			}
			.dynamic-margin-top {
				margin-top: 100px;
			}
			@media (min-width: 500px){
				.yt-video {
					width:444px; 
					height:250px;
				}
				.dynamic-margin-top {
					margin-top: 10px;
				}
			}

#container {
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
}